<h1>Benchmarks of elapsed time for standard rails vs deep import data loads</h1>
This is where the magic is<br />

<%= link_to 'Raw Benchmark Data', 'benchmarks_30.dat' %><br />

Benchmarks were taken using the ruby 'benchmarks' library.<br />
The two most important times returned by benchmarks for how Deep Import works are 'total time' and 'elapsed time'.<br />
<br >
<b>Total Time</b> System processing time, the time your local machine spent working for you<br />
<b>Elapsed Time</b> Total time to a human user that has passed.  This is the local time, and the remote time.  IE: database transactions<br />
<br />
<% require 'googlecharts' %>

<table border="1" >
	<tr>
			<th>Total Models Loaded</th>
			<th>Standard Rails Elapsed(s)</th>
			<th>Deep Import Elapsed(s)</th>
			<th>% Change With Deep Import</th>
	</tr>
	<% @elapsed_times.each do |count,benchmark| %>
		<tr>
			<td><%= count %></td>
			<td><%= benchmark[:standard_rails] %></td>
			<td><%= benchmark[:deep_import] %></td>
			<td><%= 100 -  ( benchmark[:deep_import] / benchmark[:standard_rails] ) * 100 %></td>
		</tr>
	<% end %>
</table>

<h2>(debug)Markdown parser for development</h2>
<%= link_to 'markdown', family_markdown_url %>

<h1>(debug)Family: A Deep Import Example</h1>
<table border="1" >
	<tr>
		<th>Parent</th>
		<th>Children</th>
	</tr>
	<% [ Parent.first ].each_with_index do |parent,p| %>
		<tr>
			<td style="background-color:<%= p % 2 == 0 ?  'red' : 'green' %>" >
				<%= parent.name %>
			</td>
			<td>
				<table border="1" >
					<tr>
						<th>Child</th>
						<th>GrandChildren</th>
					</tr>
					<% parent.children.each_with_index do |child,c| %>
						<tr>
							<td style="background-color:<%= c % 2 == 0 ?  'red' : 'green' %>" >
								<%= child.name %>
							</td>
							<td>
								<table border="1" >
									<tr>
										<th>GrandChild</th>
									</tr>
									<% child.grand_children.each_with_index do |grand_child,gc| %>
										<tr>
											<td style="background-color:<%= gc % 2 == 0 ?  'red' : 'green' %>" >
												<%= grand_child.name %>
											</td>
										</tr>
									<% end %>
									</table >
								</td>
							</tr>
						<% end %>
						</table >
					</td>
				</tr>
			<% end %>
			</table >
